#main{
    border: 0;
    margin: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: #b7aef0;


}
.same{
    height: 500px;
    width: 400px;
    margin: 50px;
    border-radius: 18px;
    background-color: #ffffff;
    margin-left: 150px;
}
h1{
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
.nav{
    margin: 30px;
    display: flex;
    border: 1px solid rgb(206, 204, 204) ;
    border-radius: 18px;
}
.nav > div {
    font-size: 20px;
    padding: 15px;
       
}
.log{
    background: linear-gradient(to right, #0d47a1, #1976d2);
    text-align: center;
    border-radius: 18px;
    width: 40%;
    color: #ffffff;
    
}
.nav >div> span {
    margin-left: 45px;
}
input{
    width: 310px;
    margin-left: 31px;
    border-radius: 18px;
    padding: 14px;
    font-size: 18px;
    margin-top: 8px;
    border: 1px solid rgb(206, 204, 204) ;
    color: #a9a9a9; 

}

input[type="password"] {
    margin-top: 25px;
}
.sign{
    background: linear-gradient(to right, #0d47a1, #1976d2);
    text-align: center;
    border-radius: 18px;
    width: 40%;
    margin-left: 54px;
    color: #ffffff;

}
.for{
    color: #2979ff;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 31px;
}
div > a{
    text-decoration: none;
}
button{
    margin: 30px;
    width: 340px;
    border: none;
    border-radius: 18px;
    background: linear-gradient(to right, #0d47a1, #1976d2);
    padding: 15px;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;

}
p{
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
}
p>a{
    color: #2979ff;
    text-decoration: none;
}